<h1>Cool Car Company</h1>
<p>
<h3><strong><u>Welcome</u></strong></h3>
This is the Cool Car Company Home Page.
</p>
<ul>
<li><a href="ccc_home#index">Home</a></li> 
<li><%= link_to 'Search Cars', vechicles_path %></li>
<li>Return a Car</li>
</ul>
<hr />
<p><u>Contact Information</u></p>
<p> Email:<br />
    Address:<br />
    Phone:<br />
    Fax:<br />
</p>
